.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: var(--mb-3);
}

.about-img {
    width: 280px;
    border-radius: 0.5rem;
    justify-self: center;
}

@media screen and (min-width: 576px) {
    .about-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about-data,
    .about-initial {
        text-align: initial;
    }

    .about-img {
        width: 380px;
        order: -1;
    }
}
