.app-data {
    text-align: center;
}

.app-description {
    margin-bottom: var(--mb-5);
}

.app-stores {
    margin-bottom: var(--mb-4);
}

.app-store {
    width: 120px;
    margin: 0 var(--mb-1);
}

.app-img {
    width: 230px;
    justify-self: center;
}

@media screen and (min-width: 576px) {
    .app-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .app-data,
    .app-initial {
        text-align: initial;
    }

    .app-img {
        width: 380px;
        order: -1;
    }
}

@media screen and (min-width: 768px) {
    .app-store {
        margin: 0 var(--mb-1) 0 0;
    }
}
