*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.section-title,
.section-subtitle {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}
