.home-container {
    height: calc(100vh-var(--header-height));
    align-content: center;
}

.home-title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home-subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home-img {
    width: 300px;
    justify-self: center;
}

@media screen and (min-width: 576px) {
    .home-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .home-container {
        height: 100vh;
        justify-items: center;
    }
}

@media screen and (min-width: 960px) {
    .home-img {
        width: 500px;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home-container {
        height: 640px;
    }
}
