.home-container {
    height: calc(100vh-var(--header-height));
    align-content: center;
}

.home-title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home-subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home-img {
    width: 300px;
    justify-self: center;
}